<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-6" style="padding-top: 10%; position: static">
          <h3 class="text-center"><b>Update User</b></h3>
          <form class="example-form" [formGroup]="updateForm">
            <div style="padding: 20px">
              <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="first_name" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="last_name" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="Email" formControlName="email_id" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput placeholder="address" formControlName="address" />
              </mat-form-field>
            </div>
          </form>
          <button mat-raised-button color="warn" class="btnstyle" (click)="UpdateForm()">Update</button>
    </div>
    <div class="col-6">
      <img src="../../assets/hero.gif" alt="heroImg" />
    </div>
  </div>
</div>