<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="row">
        <div class="col-6" style="margin-top: 8%;">
            <h2>Top free tool and extension to <br />grow you business</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!</p>
        </div>
        <!-- <br> -->
        <!-- <div class="row">
                <div class="col-1"></div>
            </div> -->
        <!-- </div> -->
        <div class="col-6" style="margin-top: -8%;">
            <img src="../../assets/hero.gif" alt="heroImg" />
        </div>
    </div>
</div>
<!-- </div> -->