<!-- Hero Start -->
<section class="hero">
    <div class="row container1">
        <div class="column">
            <h2 class="text">Top free tool and extension to <br />radiply grow you business</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, architecto?
                Consectetur enim
                obcaecati velit quibusdam iure, perspiciatis accusantium, voluptatibus possimus cum
                voluptates dolorum
                optio ab vitae. Praesentium voluptas quia voluptates at aperiam aliquid vitae autem!</p>
            <div class="buttons">
                <button class="btn">Read More</button>
                <button class="btn">Contact Us</button>
            </div>
        </div>
        <div class="column">
            <img src="../../assets/hero.gif" alt="heroImg" class="hero_img" />
        </div>
    </div>
    <img src="../../assets/bg-bottom-hero.png" alt="" class="curveImg" />
</section>