/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

h2{
font-family: 'Alatsi', sans-serif;
font-size: xxx-large;
}