<app-navbar></app-navbar>

<div class="container" style="padding-top: 10%;">
<h4 > User Details </h4>
<nav class="navbar">

<input class="form-control" type="text"   placeholder="find user"></nav>

<div class="mat-elevation-z8">
  <table class="table table-stripped text-center">
      <thead >
          <tr>
              <th> User-Id </th>
              <th> Email-Id </th>
              <th> First Name </th>
              <th> Last Name </th>
              <th colspan="2"> Actions </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of userList">
              <td> {{user.user_id}} </td>
              <td> {{ user.email_id }} </td>
              <td> {{ user.first_name }} </td>
              <td> {{ user.last_name }} </td>
              <td><button type="button" class="btn btn-dark" (click) = "updateUser(user)">Update</button></td>
              <td><button type="button" class= "btn btn-danger" (click)= "deleteUser(user)" >Delete</button></td>
          </tr>
      </tbody>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
</mat-paginator>

  </div>
</div>   