@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  /* background-color: white; */
}

.menu_items {
  display: flex;
  list-style: none;
  gap: 25px;
}

a {
  color:#f12b20;
  text-decoration: none;
}

#menu_toggle {
  display: none;
}
/* 
 button{
    color: #f12b20;
  } */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }